<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Create Item</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Create new Item</h2>
<form method="post">
<table>
    <tr>
        <td>Item Name</td>
        <td><input type="text" name="Nomenclature"/></td>
    </tr>
    <tr>
        <td>Item Description</td>
        <td><input type="text" name="Description"/></td>
    </tr>
    <tr>
        <td>Item Material</td>
        <td><input type="text" name="Material"/></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit"/>create</td>
    </tr>
</table>
</form>
</body>
</html>
