<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Create Item</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Show Item</h2>
<table>
    <tr>
        <td>Item Name</td>
        <td th:text="${item.nomenclature}">Item Name</td>
    </tr>
    <tr>
        <td>Item Description</td>
        <td th:text="${item.description}">Item Description</td>
    </tr>
    <tr>
        <td>Item Material</td>
        <td th:text="${item.material}">Item Material</td>
    </tr>
</table>
<h3>Produktstruktur:</h3>
<div class="tree">
    <div th:fragment="treeviewItem(item)">
        <span th:text="${item.nomenclature}">Item</span>
        <ul th:if="${item.getUses().size() >0}">
            <li th:each="child : ${item.getUses()}">
                <i><span th:text="${child.name}">ItemInstance</span></i>
                <div th:replace="this :: treeviewItem(${child.represents})"></div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>